@import '../../../public/main.sass'
    
.position
    height: 100%
    display: flex
    justify-content: center
    
.board
    width: 300px
    margin: 50px 20px 0 20px

    background: $mainDark
    border-radius: 15px
    padding-bottom: 20px

.title_block
    color: $white
    text-align: center
    width: 100%
    font-weight: $fwBold
    font-size: $fsHead
    margin-top: 10px

.card
    min-height: 30px
    padding: 5px
    margin: 10px 5px 0 10px
    display: flex
    align-items: center
    width: 90%
    color: $lightGray
    background: $secondDark
    border-radius: 5px




